@charset "UTF-8";
		.flex-container{
			display:flex;
			height:100px;
			padding:20px;
			justify-content:space-between;
		}
		.flex-item > a{
			display:flex;
			border:3px solid rgb(50,50,40);
			border:none;
			padding:20px;
			justify-content:center;
			align-items:flex-center;
			color:gray;
				font-family:"Love Ya Like A Sister",fantasy;
		}
		
		/* 검색 기능 css */
		
		.search {
			display:flex;
			width: 170px;
			position: relative;
			border:3px solid rgb(50,50,40);
			border:none;
			padding:20px;
			justify-content:center;
			align-items:flex-center;
			color:gray;
			font-family:"Love Ya Like A Sister",fantasy;
		}
		.input{
			width: 100%;
			border: 1px solid #bbb;
			border-radius: 8px;
			padding: 10px 12px;
			font-size: 14px;
			font-family:"Love Ya Like A Sister",fantasy;
		}
		.icon {
			width: 17px;
			position : absolute;
			top: 10px;
			right: 12px;
			margin-top: 15px;
			margin-right: 10px;
			}
			
		/* 검색 기능 css end */
		
		
		.flex-item-title > a{
			display:flex;
			border:3px solid rgb(50,50,40);
			border:none;
			padding:10px;
			justify-content:center;
			align-items:flex-end;
			margin-left: 120px;
			color:black;
			font-size: 75px;
			font-family:"Love Ya Like A Sister",fantasy;
		}
		.flex-sub-container-1 {
			display: flex;
			margin-top: 30px;
			margin-left: 100px;
			font-size: 20px;
		}
		.flex-sub-container-2 {
			display: flex;
			margin-top: 30px;
			margin-right: 100px;
			font-size: 20px;
		}
		a{
			text-decoration-line: none;
			font-family:"Love Ya Like A Sister",fantasy;
		}
		
		
		
		
		