@charset "UTF-8";
body {
	background-color: #e8e8e8;
}
#myPageWrapper {
	display: flex;
	flex-direction: row;
	width: 1000px;
	margin: auto;
	justify-content: space-between;
	align-items: flex-start;
}

#myPageMenuWrapper {
	width: 215px;
	background-color: white;
	border-radius: 10px;
	height: 400px;
}
#myPageContentWrapper {
	width: 770px;

/* 	height: 1000px; */
}


.content {
	display: inline-block;
	margin-left: 15px;
	margin-bottom: 8px;
	text-decoration: none;
	color: #1d1d1d;
	font-size: 14px;
}

#myPageMenu {
	margin: auto;
	width: 200px;
}

.title {
	margin-bottom: 8px;
	display: inline-block;
	text-decoration: none;
}









