*{
	user-select: none;
}

body {
	background-color: #e8e8e8;
}

#businMmenu {
	width: 1500px;
	display: flex;
	justify-content: center;
	margin: 10px auto;
}

#myPageMenuWrapper {
	width: 215px;
	height: 400px;
	background-color: white;
	border-radius: 10px;
	display : column;
	position : sticky;
	top: 10px;
    z-index: 999;
}

#myPageMenu {
	margin: auto;
	width: 200px;
	height : auto;
}

.title {
	margin-bottom: 8px;
	display: inline-block;
	text-decoration: none;
}
.content {
	display: inline-block;
	margin-left: 15px;
	margin-bottom: 8px;
	text-decoration: none;
	color: #1d1d1d;
	font-size: 14px;
}

#iframe {
	margin : 0px 0px 0px 10px;
	background-color: white;
	border-radius: 10px;
}
