#myPageMenuWrapper {
	width: 215px;
	background-color: white;
	border-radius: 10px;
	height: 400px;
}

#myPageMenu {
	margin: auto;
	width: 200px;
}

.title {
	margin-bottom: 8px;
	display: inline-block;
	text-decoration: none;
}
.content {
	display: inline-block;
	margin-left: 15px;
	margin-bottom: 8px;
	text-decoration: none;
	color: #1d1d1d;
	font-size: 14px;
}

