<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hub.root.pos.mybatis.PosMapper">
	<resultMap type="com.hub.root.pos.posDTO.PosDTO" id="posDTO">
		<id property="store_id" column="store_id" />
		<result property="store_name" column="store_name" />
		<result property="store_pwd" column="store_pwd" />
	</resultMap>
	<resultMap type="com.hub.root.pos.posDTO.BookingDTO" id="bookingDTO">
		<id property="booking_id" column="BOOKING_ID" />
		<result property="store_id" column="STORE_ID" />
		<result property="member_id" column="MEMBER_ID" />
		<result property="booking_date_booking" column="BOOKING_DATE_BOOKING" />
		<result property="booking_time" column="BOOKING_TIME" />
		<result property="booking_person" column="BOOKING_PERSON" />
		<result property="booking_phone" column="BOOKING_PHONE" />
		<result property="booking_status" column="BOOKING_STATUS" />
	</resultMap>
	<resultMap type="com.hub.root.pos.posDTO.KeyDTO" id="keyDTO">
		<result property="store_id" column="store_id" />
		<result property="store_key" column="store_key" />
		<result property="key_status" column="key_status" />
	</resultMap>
	<resultMap type="com.hub.root.pos.posDTO.WaitDTO" id="waitDTO">
		<result property="wait_num" column="wait_num" />
		<result property="store_id" column="store_id" />
		<result property="person_num" column="person_num" />
		<result property="wait_date" column="wait_date" />
		<result property="wait_status" column="wait_status" />
		<result property="wait_time" column="wait_time" />
		<result property="wait_name" column="wait_name" />
	</resultMap>
	
	<select id="login_chk" resultMap="posDTO">
		select store_id, store_name, store_pwd from store_info where store_id=#{id}
	</select>
	
	<select id="todayReservation" resultMap="bookingDTO">
		select * from booking_info where store_id = #{store_id} and TO_CHAR(booking_date_booking, 'YYYY/MM/DD') = TO_CHAR(CURRENT_DATE, 'YYYY/MM/DD') and (booking_status = 0 or booking_status = 4) ORDER BY booking_time
	</select>
	
	<select id="todayWait" resultMap="waitDTO">
		select * from store_wait where store_id = #{store_id} and TO_CHAR(wait_date, 'YYYY/MM/DD') = TO_CHAR(CURRENT_DATE, 'YYYY/MM/DD') and wait_status = 0 order by wait_num 
	</select>
	
	<insert id="register_booking">
		 insert into BOOKING_INFO(booking_id, store_id, member_id, booking_date_booking, booking_time, booking_person, booking_phone, booking_status) values(BOOKING_INFO_SEQ.nextval, #{store_id}, #{member_id}, TO_DATE(#{booking_date_booking}, 'YYYY/MM/DD'), #{booking_time}, #{booking_person}, #{booking_phone}, #{booking_status})
	</insert>

	<select id="check_booking_maxNum" resultType="int">
		select A.booking_id from(select * from booking_info order by booking_id DESC)A where rownum = 1
	</select>
	
	<update id="bookingStatus">
		update booking_info set booking_status = #{booking_status} where booking_id = #{booking_id}
	</update>
	
	<update id="wait123">
		update store_wait set wait_time = #{wait_time}, wait_status = 1  where store_id = #{store_id} and TO_CHAR(wait_date, 'YYYY/MM/DD') = TO_CHAR(CURRENT_DATE, 'YYYY/MM/DD') and wait_num = #{wait_num} 
	</update>
	
	<select id="totalRegisterCount" resultType="int">
		select count(*) from booking_info where (BOOKING_STATUS = 1 or BOOKING_STATUS = 2) and store_id = #{store_id} and member_id = #{member_id}
	</select>
	
	<insert id="key">
		insert into store_key(STORE_ID, STORE_KEY, key_status) values(#{store_id}, CRYPTPACK.ENCRYPT(#{store_key}, 'ora_java_table'), #{key_status})		
	</insert>
	
	<select id="getAllKey" resultMap="keyDTO">
		select store_id, CRYPTPACK.DECRYPT(store_key,'ora_java_table') as store_key, key_status from store_key where store_id = #{userId}
	</select>
	
	<select id="wait_keyCheck" resultMap="keyDTO">
		select a.store_id, CRYPTPACK.DECRYPT(a.store_key,'ora_java_table') as store_key, a.key_status, b.store_name from store_key a inner join store_info b on a.store_id = b.store_id where CRYPTPACK.DECRYPT(a.store_key,'ora_java_table') = #{key}
	</select>
	
	<update id="update_keyStatus">
		update store_key set key_status= 1 where store_key = #{store_key} 
	</update>
	
	<delete id="delete_key">
		delete from store_key where CRYPTPACK.DECRYPT(store_key,'ora_java_table') = #{store_key}
	</delete>
	
	<select id="findStoreId" resultType="String">
		select store_id from store_key where CRYPTPACK.DECRYPT(store_key,'ora_java_table') = #{key}
	</select>
	
	<insert id="registerWait"> 
		insert into store_wait values(#{wait_num}, #{store_id}, #{person_num}, CURRENT_DATE, 0, 0, #{name})
	</insert>
	
	<select id="wait_num" resultType="int">
		select count(*) from store_wait where TO_CHAR(wait_date, 'YYYY/MM/DD') = TO_CHAR(CURRENT_DATE, 'YYYY/MM/DD')
	</select>
	
	<select id="averageTime" resultType="String">
		select wait_time from store_wait where store_id = #{store_id} and wait_status = 1 and to_date(wait_date, 'YYYY/MM/DD')  >= to_date(add_months(CURRENT_DATE, -1), 'YYYY/MM/DD') 
	</select>
	
	<select id="nowWaitNum" resultType="String">
		SELECT wait_num FROM
			(
    			SELECT a.*, rownum
    			FROM store_wait a
    			ORDER BY WAIT_NUM desc
			)
			<![CDATA[
			WHERE rownum <= 1 and wait_status = 1 and TO_CHAR(wait_date, 'YYYY/MM/DD') = TO_CHAR(CURRENT_DATE, 'YYYY/MM/DD')
			]]>
	</select>
	
</mapper>