<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hub.root.pos.mybatis.PosMapper">
	<resultMap type="com.hub.root.pos.posDTO.PosDTO" id="posDTO">
		<id property="store_id" column="store_id" />
		<result property="store_name" column="store_name" />
	</resultMap>
	<resultMap type="com.hub.root.pos.posDTO.BookingDTO" id="bookingDTO">
		<id property="booking_id" column="BOOKING_ID" />
		<result property="store_id" column="STORE_ID" />
		<result property="member_id" column="MEMBER_ID" />
		<result property="booking_date_booking" column="BOOKING_DATE_BOOKING" />
		<result property="booking_time" column="BOOKING_TIME" />
		<result property="booking_person" column="BOOKING_PERSON" />
		<result property="booking_phone" column="BOOKING_PHONE" />
		<result property="booking_status" column="BOOKING_STATUS" />
	</resultMap>
	
	<select id="login_chk" resultMap="posDTO">
		select store_id, store_name from store_info where store_id=#{id} and store_pwd =#{pwd} 
	</select>
	<select id="todayReservation" resultMap="bookingDTO">
		select * from booking_info where store_id = #{store_id} and booking_date_booking = TO_CHAR(SYSDATE, 'YYYY/MM/DD') ORDER BY booking_time
	</select>
	
	<insert id="register_booking">
		 insert into BOOKING_INFO(booking_id, store_id, member_id, booking_date_booking, booking_time, booking_person, booking_phone, booking_status) values(BOOKING_INFO_SEQ.nextval, #{store_id}, #{member_id}, #{booking_date_booking}, #{booking_time}, #{booking_person}, #{booking_phone}, #{booking_status})
	</insert>

	<select id="check_booking_maxNum" resultType="int">
		select A.booking_id from(select * from booking_info order by booking_id DESC)A where rownum = 1
	</select>
	
	<update id="bookingStatus">
		update booking_info set booking_status = #{booking_status} where booking_id = #{booking_id}
	</update>
	
</mapper>